# Loop
- For Loop - step based
- While Loop - condition based

for loop sytnax
```
for temp_variable in iterable:
    statement 1
    statement 2
    ...
    statement n
```

In [1]:
a= 'Alphabet and numbers'
for letter in a:
    print(letter)

A
l
p
h
a
b
e
t

a
n
d

n
u
m
b
e
r
s

In [3]:
colors = ['red', 'green', 'blue', 'yellow']
for color in colors:
    print('i like', color)

i like red
i like green
i like blue
i like yellow

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range() function
- `range(100)` => 0 - 99
- `range(5, 50)` => 5 - 49
- `range(5, 100, 10)` => 5, 15, 25, 35, 45, 55, 65, 75, 85, 95

`range(start, stop, step)`

In [8]:
for i in range(100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [9]:
for i in range(5, 50):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [15]:
for i in range(5, 100, 10):
    print(i, end=' ')

5 15 25 35 45 55 65 75 85 95

In [16]:
numbers = [46,3,5,12,6,43,6,2]
for i in numbers:
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

46 is even
3 is odd
5 is odd
12 is even
6 is even
43 is odd
6 is even
2 is even

In [20]:
colors = ['red', 'green', 'blue', 'yellow', 'orange']
for c in colors:
    if 'o' in c:
        print(c)

yellow
orange

In [23]:
guests = ['Mr. John', 'Dr. Smith', 'Mrs. Jones',
         'Mr. Smith', 'Mr. Jones', 'Dr. Strange', "Alex"]

for name in guests:
    if name.startswith('Mr.'):
        print("Hello Sir")
    elif name.startswith('Mrs.'):
        print("Hello Ma'am")
    elif name.startswith('Dr.'):
        print("Hello Doctor")
    else:
        print(f"{name} is not invited")

Hello Sir
Hello Doctor
Hello Ma'am
Hello Sir
Hello Sir
Hello Doctor
Alex is not invited

In [ ]:
numbers = [23,56,23,57,68,34,67,45,46,56,87]
# num < 30 ðŸ˜€ :D
# num > 50 ðŸ˜ž :(
# else ðŸ˜ :|

### functions that used along with loops
- enumerate()
- zip()

In [11]:
names = ['Ritesh','Nitesh','Himanshu','Amita','Avnish','Aditya',
        'Areesha','Muskan','Pragya','Udbhav','Priyanshhi', 'Amrit']
for nm in enumerate(names):
    print(nm)

(0, 'Ritesh')
(1, 'Nitesh')
(2, 'Himanshu')
(3, 'Amita')
(4, 'Avnish')
(5, 'Aditya')
(6, 'Areesha')
(7, 'Muskan')
(8, 'Pragya')
(9, 'Udbhav')
(10, 'Priyanshhi')
(11, 'Amrit')

In [9]:
for i, nm in enumerate(names):
    print(f'{nm} is at index {i}')

Ritesh is at index 0
Nitesh is at index 1
Himanshu is at index 2
Amita is at index 3
Avnish is at index 4
Areesha is at index 5
Muskan is at index 6
Pragya is at index 7
Udbhav is at index 8

In [12]:
bday = ['12 Oct','2 Feb','18 Jan','20 Oct','3 May','13 Aug',
    '12 Jun', '22 Mar','13 Sep','30 Aug','25 Oct','13 May']

In [23]:
for nm, date in zip(names, bday):
    print(f'{nm} has ðŸŽ‚ {date}')

Ritesh has ðŸŽ‚ 12 Oct
Nitesh has ðŸŽ‚ 2 Feb
Himanshu has ðŸŽ‚ 18 Jan
Amita has ðŸŽ‚ 20 Oct
Avnish has ðŸŽ‚ 3 May
Aditya has ðŸŽ‚ 13 Aug
Areesha has ðŸŽ‚ 12 Jun
Muskan has ðŸŽ‚ 22 Mar
Pragya has ðŸŽ‚ 13 Sep
Udbhav has ðŸŽ‚ 30 Aug
Priyanshhi has ðŸŽ‚ 25 Oct
Amrit has ðŸŽ‚ 13 May

In [26]:
products = ['TV','Frigde','Table Fan']
prices = ['40000','26000','3000']
qty = [5, 10, 25]

for p, pr, q in zip(products, prices, qty):
    print(f'{p} | ${pr} | {q} pcs | total = {int(pr)*q}')

TV | $40000 | 5 pcs | total = 200000
Frigde | $26000 | 10 pcs | total = 260000
Table Fan | $3000 | 25 pcs | total = 75000

Loop control
- continue => skip a turn
- break => exit/stop the loop

Note: they are only used in a condition inside loop

In [32]:
x= [1,2,4,1,5,0,35,0,1,0,2,5,6]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
4
1
5
0
35
0
1
0
2
5
6

In [33]:
for i in x:
    if i == 0:
        print('invalid data found, stopping code')
        break
    print(i)

1
2
4
1
5
invalid data found, stopping code

In [35]:
for i, nm in enumerate(names):
    if i == 5:
        break
    print(nm)

Ritesh
Nitesh
Himanshu
Amita
Avnish

for - else

In [52]:
# C, Java, C#
c = True # flag or switch
for i in [2,4,6,5,6,1,7,2]:
    if i == 5:
        c = False
        break
    print(i, end=' ')
if c:
    print('Loop completed')
else:
    print('Loop broken')

2 4 6 Loop broken

In [59]:
for i in [2,1,32,41,2,1,2,3,31,31]:
    if i == 5:
        print('loop broken')
        break
    print(i, end=' ')
else:
    print('loop completed')

2 1 32 41 2 5 loop broken

while

In [60]:
x = 100
while x > 0:
    print(x)
    x -= 10

100
90
80
70
60
50
40
30
20
10